@model ePower.Portal.ViewModels.OverviewViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    @foreach (var item in Model.Organizations)
    {
        <li>@item.OrganizationName</li>
    }
</ul>

